{% extends "blog/base.html" %}
{% load staticfiles %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/conabt.css' %}">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <form method="POST" action="" class="well" enctype="multipart/form-data">
                <h1 class="text-center login">{{ title }}</h1>
                <br>
                {% csrf_token %}

                <div class="input-group text-center">

                    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
                {{ form.username }}
                </div>
                <br>

                <div class="input-group text-center">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.password }}

                </div>
                <br>

                <button class="btn btn-primary btn-block main-bg-color"><i class="fa fa-sign-in fa-lg"></i>
                Login
                </button>

            </form>
            <div class="text-center">
            <p><a href="{% url 'register' %}">Register</a> ||
            <a href="{% url 'password_reset' %}">Forgot Password?</a></p>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

