{% extends 'blog/base.html' %}
{%  load staticfiles %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/conabt.css' %}">
{% endblock %}

{% block header-image %}

    <div class="ccimg">
        <div class="layer"></div>
             <div class="h-text">
                 <h1>Contact</h1>
                  <hr class="hr">
              </div>
    </div>
    <br><br>


{% endblock %}

{% block contact %}

    <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>

    </div>



{% endblock %}