{% extends 'blog/base.html' %}
{%  load staticfiles %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}



    {% block header-image %}

            <div class="cimg">
                <div class="layer"></div>
                    <div class="h-text">

                        <h1>Dhiraj Shah</h1>
                        <hr class="hr">
                </div>
            </div>


    {% endblock %}

{% block home %}

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br><br>
                    <p class="quote text-center">"Everybody Should Learn How to Program a Computer..<br>Because It Teaches You How To Think"</p>
                    <hr>
                    <br>
                </div>
            </div>
        </div>

    </div>





        <div class="container-fluid row">
                <div class="latest">

                    <div class="row">
                    <a href="{% url 'post_list' %}"><h2 class="latesth2 text-center">Latest Blog Post</h2></a>

                            <br>
                            <br>
                                {% for post in posts|slice:":3" %}
                                    <div class="col-md-4 cold-lg-4">
                                        <div class="post">
                                            {% if post.published_date %}
                                            <div class="thumbnail">
                                                {% if post.image %}
                                                 <img src="{{ post.image.url}}" class="img-responsive" style="width: 550px; height: 200px"/>
                                                {% endif %}
                                            </div>
                                                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                                            {% endif %}
                                        </div>
                                    </div>
                                 {%	endfor	%}
                    </div>
                </div>


                <!--center>

                </center-->
        </div>


{% endblock %}